VITE_SUPABASE_URL=https://tkaqcgjlchjympptogmj.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrYXFjZ2psY2hqeW1wcHRvZ21qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MjU5MzQsImV4cCI6MjEwNTIwMTkzNH0.9ChpP61lpUU_U9iNrcCE1T1kIB-OBPNLUNbFo0NwfGs
